
body {
    background-color: rgb(139, 150, 137);
    color: rgb(56, 89, 45);
    font-family: "Garamond", serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}

#controls {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;    
}
